body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #aab2c5;
    line-height: 26px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 540px;
    letter-spacing: -2.5px;
    line-height: 1.1;
    margin-bottom: 65px;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #8492b7;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
}

.nav>li {
    padding: 0 15px;
}

.nav-item {
    color: #6e7ea9;
}

.btn-primary {
    color: #fff;
    background-color: #1085e4;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    padding: 20px 39px;
    border-radius: 35px;
    border: 1px solid #1085e4;
    transition: 0.3s;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #909dbb;
    background-color: #cbdbe8;
    padding: 19px 39px;
    border-radius: 30px;
    border: 1px solid #cbdbe8;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-group a+a {
    margin-left: 15px;
}

.btn-free {
    letter-spacing: 1.5px;
    padding: 19px 48px;
    font-weight: 400;
    transition: 0.3s;

}

.btn-sub {
    letter-spacing: 2px;
    padding: 16px 47px;
    transition: 0.3s;
}

.btn-learn {
    padding: 20px 61px;
    transition: 0.3s;
}

.btn-choose-plan {
    padding: 20px 61px;
    transition: 0.3s;
}

.btn-submit {
    padding: 20px 60px;
    transition: 0.3s;
}

.btn-info {
    color: #8085b1;
    background: transparent;
    border: 1px solid #dce1e5;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 20px 60px;
    border-radius: 30px;
    letter-spacing: 2.5px;
    transition: 0.3s;
}

.btn-info:hover {
    color: #fff;
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
}

.page-plan .btn-primary {
    padding: 20px 60px;
}

.page-plan .btn-primary:hover {
    background: transparent;
}

.btn-white {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #909dbb;
    background-color: #fff;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
    line-height: 47px;
}

.grid h2 span {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;

}

.page-subscribe h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}

.page-subscribe h2 span {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
}

.page-software h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}

.page-software dt {
    font-size: 16px;
    font-weight: 700;
    color: #77829e;
}

.page-software dd {
    font-size: 14px;
    font-weight: 400;
    color: #aab2c5;
}

.page-stat h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}

.page-stat h2 span {
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 800;
    color: #1085e4;
    display: block;

}

.page-stat li {
    font-size: 12px;
    font-weight: 700;
    color: #6fb6f0;


}

.page-stat li span {
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    display: block;
}

.page-app h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.available {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #d1dce5;
    text-transform: uppercase;

}

.page-suitable_for_anytype h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;

}

.page-easy_to_edit h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;

}

.page-screen h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: block;
}

.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}

.page-clients span {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #84c8ff;
    display: block;
}

.page-clients h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;

}

.page-clients p {
    font-size: 14px;
    font-weight: 400;
}

.name {
    font-size: 22px;
    font-weight: 600;
    color: #192b59;
}

.position {
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.page-plans h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display: block;
}

.page-plans h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;

}

.box-price-item h3 {
    font-size: 70px;
    font-weight: 700;
    color: #192b59;
}

.box-price-item strong {
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.active strong {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.active h3 {
    color: #fff;
}

.active span {
    color: #6978a2;
}

.nonactivetwo h3 span {
    color: #6978a2;
}

.page-team h3 span {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #84c8ff;
    display: block;
}

.page-team h3 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.page-form h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;

}

.footer p {
    font-size: 16px;
    font-weight: 400;
    color: #66719b;
}

.footer p a {
    font-size: 16px;
    font-weight: 400;
    color: #1085e4;
    text-transform: uppercase;
}

/*  LR_8 Flex_nav */

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav>li {
    padding: 0 15px;
    margin-right: 9px;
}

.width_ {
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    display: block;
    background-image: url(../img/header/Limpon-logo.png);
    width: 185px;
    height: 53px;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    margin-bottom: 305px;
}

.page-header {
    background-image: url(../img/header/bg-for-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 332px 0;
    position: relative;
}

.screen-img {
    display: block;
    background-image: url(../img/header/img_Dashboard_Admin.png);
    background-repeat: no-repeat;
    width: 834px;
    height: 740px;
    position: absolute;
    top: 193px;
    right: 0px;
}

.page-company {
    background-image: url(../img/Sponsors/bg_for_sponsors.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.list-company {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 274px;
}

.list-company-item {
    display: block;
    flex-basis: 18%;
    background-repeat: no-repeat;
}

.company-one {
    background-image: url(../img/Sponsors/bg_1_Token.png);
    height: 59px;
}

.company-two {
    background-image: url(../img/Sponsors/bg_2_Magneto.png);
    height: 82px;
}

.company-three {
    background-image: url(../img/Sponsors/bg_3_BooHoo.png);
    height: 47px;
}

.company-four {
    background-image: url(../img/Sponsors/bg_4_Fractal.png);
    height: 69px;
}

.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.list-stat>li>span {
    display: block;
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}

.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.page-stat .title-h2 {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

/* PAGE */

.page-stat {
    background-color: #edf6ff;
    padding: 85px 0px 95px 0px;
}

.page-screen {
    background-color: #edf6ff;
    padding: 80px 0 0 0;
}

/* END PAGE */

/* box page-screen */

.page-screen {
    text-align: center;
}

.screen {
    margin-top: 40px;
    margin-bottom: -10px;
}

.page-screen .title-h2 {
    font-size: 40px;
    letter-spacing: -1.1px;
}

.page-screen .title-h2 span {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}

.page-plans {
    text-align: center;
}

.box-price {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.box-price-item {
    background-color: #f5faff;
    flex-basis: 32%;
    padding: 90px 0 96px 0;
    position: relative;
}

.box-price-item h3 {
    font-size: 70px;
    letter-spacing: -1px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.box-price-item h3 span {
    font-size: 20px;
}

.box-price-item p {
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.box-price-item h3 span:first-child {
    color: #000958;
}

.box-price-item.active h3 span:first-child {
    color: #fff;
}

.box-price-item h3 span:last-child {
    color: #7b8ab2;
}

.box-price-item.active {
    background-color: #152b59;
    color: #fff;
}

.box-price-item ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 34px;
    margin-bottom: 60px;
    font-size: 14px;
}

.box-price-item ul>li {
    margin-bottom: 14px;
}

.box-price-item::after {
    content: "";
    width: 58px;
    height: 100%;
    background-image: url(../img/PricingPlans_section/tr.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.box-price-item.active::after {
    display: none;
}

.page-subscribe {
    background: rgba(9, 30, 134, 1);
    background: -moz-linear-gradient(left, rgba(9, 30, 134, 1) 0%, rgba(9, 30, 134, 1) 49%, rgba(50, 143, 231, 1) 91%, rgba(50, 143, 231, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(9, 30, 134, 1)), color-stop(49%, rgba(9, 30, 134, 1)), color-stop(91%, rgba(50, 143, 231, 1)), color-stop(100%, rgba(50, 143, 231, 1)));
    background: -webkit-linear-gradient(left, rgba(9, 30, 134, 1) 0%, rgba(9, 30, 134, 1) 49%, rgba(50, 143, 231, 1) 91%, rgba(50, 143, 231, 1) 100%);
    background: -o-linear-gradient(left, rgba(9, 30, 134, 1) 0%, rgba(9, 30, 134, 1) 49%, rgba(50, 143, 231, 1) 91%, rgba(50, 143, 231, 1) 100%);
    background: -ms-linear-gradient(left, rgba(9, 30, 134, 1) 0%, rgba(9, 30, 134, 1) 49%, rgba(50, 143, 231, 1) 91%, rgba(50, 143, 231, 1) 100%);
    background: linear-gradient(to right, rgba(9, 30, 134, 1) 0%, rgba(9, 30, 134, 1) 49%, rgba(50, 143, 231, 1) 91%, rgba(50, 143, 231, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#091e86', endColorstr='#328fe7', GradientType=1);
}

.box-subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 521px;
}

.box-subscribe h2 {
    letter-spacing: -1.6px;
}

.box-subscribe h2 span {
    letter-spacing: 2.9px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.page-subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    color: white;
    margin-bottom: 45px;

}

.page-subscribe span {
    font-size: 14px;
    font-weight: 800;
    color: #00bffe;
    display: block;
}

.page-subscribe p {
    font-size: 18px;
    color: #dfe8ff;
    margin-bottom: 40px;
}

.page-subscribe button {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2.8px;
    padding: 17px 44px;
}

.page-subscribe input {
    font-size: 14px;
}

.box-subscribe input {
    border-radius: 35px;
    padding: 24px 38px;
    width: 460px;
    background: transparent;
    border: 1px solid #3d53ab;
    color: white;
}

.box-subscribe button {
    position: relative;
    right: 204px;
}

.page-subscribe .title-h2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}

.box-subscribe-user input::-webkit-input-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input::-moz-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input:-moz-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input:-ms-input-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input {
    border: 2px solid #3f5cb1;
    font-size: 14px;
    color: #fff;
    border-radius: 30px;
    background-color: transparent;
    padding: 25px 230px 25px 37px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.box-subscribe-user {
    position: relative;
}

.box-subscribe-user .btn-primary {
    position: absolute;
    top: 7px;
    right: 11px;
}

.box-subscribe-child {
    flex-basis: 49%;
}

.box-subscribe-user input:focus {
    outline: none;
}

.box-subscribe-user .btn-primary {
    outline: none;
}

.grid {
    display: grid;
    grid-template-areas: " a b c""d b c""d e f""g e f""g h h";
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
}

.grid-item-title {
    grid-area: a;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-6 {
    grid-area: g;
}

.grid-text {
    grid-area: h;
}

.grid-item {
    text-align: center;
    height: 301px;
    width: 263px;
    box-shadow: 0 0 15px #dad8d8;
    padding: 37px;
    line-height: 28px;
}

.grid-icon {
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.grid-icon-1 {
    background-image: url(../img/Best_Features_Ever_Seen/icon_Well_documented.png);
    width: 73px;
    height: 79px;
}

.grid-icon-2 {
    background-image: url(../img/Best_Features_Ever_Seen/icon_mobile_friendly_design.png);
    width: 73px;
    height: 79px;
}

.grid-icon-3 {
    background-image: url(../img/Best_Features_Ever_Seen/icon_highly_customizeable.png);
    width: 73px;
    height: 79px;
}

.grid-icon-4 {
    background-image: url(../img/Best_Features_Ever_Seen/icon_easy_to_edit.png);
    width: 73px;
    height: 79px;
}

.grid-icon-5 {
    background-image: url(../img/Best_Features_Ever_Seen/icon_resopnsive_design.png);
    width: 73px;
    height: 79px;
}

.grid-icon-6 {
    background-image: url(../img/Best_Features_Ever_Seen/icon_24on7_online_support.png);
    width: 73px;
    height: 79px;
}

.page-grid {
    margin-top: 124px;
    margin-bottom: 84px;
}


.rp {
    font-size: 10px;
}

.found {
    font-size: 14px;
}

.page-software-icon {
    display: block;
    background-image: url(../img/Grab_your_software_section/icon_grab.png);
    background-repeat: no-repeat;
    width: 103px;
    height: 92px;
    background-position: -30px 0;
}

.page-software .title-h2 {
    max-width: 550px;
    margin-top: 12px;
    margin-bottom: 26px;
}

.page-software-list dt {
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 50px;
}

.page-software-list dd {
    margin-left: 0;
    margin-bottom: 50px;
}

.page-software-list {
    margin-top: 30px;
    height: 340px;
    overflow: hidden;
    overflow-y: scroll;
}

.page-software-flex {
    display: flex;
    justify-content: flex-end;
}

.page-software-flex>div {
    flex-basis: 55%;
}

.page-software {
    padding: 117px 0 219px 0;
    display: block;
    background-image: url(../img/Grab_your_software_section/BG_grab.png);
    background-repeat: no-repeat;
    /* background-size: cover; */

}

.page-software-list dd {
    margin-left: 0;
    margin-bottom: 50px;
    line-height: 1.8;
}

.bg-im {
    display: block;
    background-image: url(../img/Grab_your_software_section/imageblur_grab_you.png);
    width: 931px;
    height: 860px;
    right: 940px;
    background-size: cover;
    position: absolute;
    margin-bottom: 10px;

}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* ::-webkit-scrollbar-button {  background-color: #666; } */
::-webkit-scrollbar-track {
    background-color: #999;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    height: 1px;
    background-color: rgb(92, 136, 191);
    border-radius: 4px;
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

::-webkit-resizer {
    background-color: #666;
}

.page-clients {
    display: block;
    background-image: url(../img/Clients/image2vector.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 150px;
}

.box-clients {
    display: flex;
}

.boxes {
    /* flex-wrap: wrap; */
    padding: 25px;
    flex-direction: column;
    background-color: white;
    border-radius: 9px;
    /* width: 343px;
    height: 212px; */
    /* text-align: center; */
    margin-right: 20px;
    margin-top: 50px;
    box-shadow: 0 12px 20px -4px rgba(0, 0, 0, .2);
    /* margin-top: 30px; */
}

.name {
    line-height: 5px;
}

.position {
    line-height: 2px;
}

.pg-clients-h2 {
    line-height: 20px;
}

.spn {
    height: 50px;
    display: inline-block;
}

.ava {
    display: block;
    position: absolute;
    background-image: url(../img/Clients/avatar.png);
    background-size: cover;
    width: 54px;
    height: 71px;
    background-repeat: no-repeat;
    /* margin: 0 auto; */
}

.post {
    position: relative;
    left: 75px;
    top: 10px;
}

.page-app {
    background-image: url(../img/Video/BGVideo.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;
    padding-bottom: 125px;
}

.videoim {
    display: block;
    position: absolute;
    top: 50px;
    right: 100px;
}

.meet-text {
    /* width: 300px; */
    padding-top: 75px;
    position: relative;
    padding-right: 350px;
}

.title-h3 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 15px;
    letter-spacing: -1.5px;
}

.link-google {
    background-image: url(../img/Video/GooglePlay_button.png);
    display: block;
    width: 180px;
    height: 80px;
    background-size: cover;
    /* margin: 0px auto; */
}

.link-appstore {
    background-image: url(../img/Video/AppStore_button.png);
    display: block;
    width: 180px;
    height: 80px;
    background-size: cover;
    margin-left: 15px;
    /* margin: 0px auto; */
}

.navv {
    font-size: 12px;
    font-weight: 700;
    color: #8492b7;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
}

.page-suitable_for_anytype {
    background-image: url(../img/Features_limpon_is/FeaturesBG.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;
    height: 690px;
}

.icon-feat {
    display: block;
    background-image: url(../img/Grab_your_software_section/icon_grab.png);
    background-repeat: no-repeat;
    width: 103px;
    height: 92px;
    /* background-position: -30px 0; */
    position: relative;
    margin-left: 875px;
    bottom: 260px;
}

.feat-text {
    max-width: 700px;
    margin-left: 900px;
    bottom: 300px;
    position: relative;
}

.img-br {
    position: relative;
    /*left: 100px;*/
    padding-left: 200px;
    top: 180px;
}

.btn-feat {
    max-width: 800px;
    margin-left: 900px;
    bottom: 250px;
    position: relative;
}

.page-easy_to_edit {
    background-image: url(../img/Features2_Easy_to_edit/Features2BG.png);
    background-repeat: no-repeat;
    position: relative;
    height: 691px;
}

.icon_easy {
    display: block;
    background-image: url(../img/Grab_your_software_section/icon_grab.png);
    background-repeat: no-repeat;
    width: 103px;
    height: 92px;
    position: relative;
    margin-left: 387px;
    top: 120px
}

.easy-text {
    top: 92px;
    max-width: 645px;
    margin-left: 407px;
    position: relative;
}

.easy-text .title-h2 {
    max-width: 425px;
}

.img-easy {
    position: relative;
    float: right;
    right: 250px;
    bottom: 325px;
}

.btn-easy {
    top: 119px;
    margin-left: 410px;
    position: relative;
}

.cont-h2 {
    width: 500px;
    margin-left: 700px;
}

.page-stat .title-h2 {
    padding-bottom: 58px;
}

/*Page-team*/

.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    max-width: 500px;
    margin: 0 auto;
}

.name {
    padding-top: 10px;
}

.page-team {
    text-align: center;
    background: url(../img/Team/page-team.png) no-repeat top center;
    padding: 86px 0 120px 0;
    margin-top: 100px;
}

.page-team h2 {
    font-size: 40px;
    font-weight: 600;
    max-width: 560px;
    color: #fff;
    letter-spacing: -1.5px;
    margin-top: 12px;
    margin-bottom: 140px;
}

.page-team h2 span {
    display: block;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #85c8ff;
    letter-spacing: 4.3px;
    margin-top: 31px;
    margin-bottom: 20px;
}

.box-team {
    display: flex;
    justify-content: space-between;
}

.box-team-item {
    position: relative;
    background-color: #ffffff;
    flex-basis: 31.5%;
    box-shadow: 0 2px 10px #8085b1;
    box-sizing: border-box;
    padding: 197px 0 40px 0;
}

.box-team-item img {
    position: absolute;
    top: -85px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.box-team-item .position {
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #1a88e1;
    font-weight: 900;
    margin-bottom: 11px;
}

.box-team-item .name {
    font-size: 26px;
    color: #192b59;
    letter-spacing: -0.5px;
    font-weight: 600;
    margin-top: 0px;
}

.box-team-item .btn-more {
    border-radius: 50%;
    background-color: #fafafa;
    width: 50px;
    height: 50px;
    border: none;
    transition: 0.4s;
    margin: 0 auto;
}

.box-team-item .btn-more span {
    text-align: center;
    font-size: 31px;
    font-weight: 700;
    color: #a1aecf;
    transition: 0.2s;
}

.box-team-item .btn-more:focus {
    outline: none;
}

.box-team-item .btn-more:hover {
    background-color: #1a88e1;
}

.box-team-item .btn-more span:hover {
    color: white;
}

.sotial-team {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0 50px;
    margin: 0;
}

.sotial-team li {
    border-radius: 50%;
    background-color: #fafafa;
    width: 50px;
    height: 50px;
    border: none;
    transition: 0.4s;
    margin: 0 auto;
}

.sotial-team li:hover {
    background-color: #1a88e1;
}

.sotial-team li .btn-fb {
    display: block;
    background: url(../img/Team/box-team-item-fb.png) no-repeat;
    width: 8px;
    height: 15px;
    margin: 17.5px auto;
    transition: 0.2s;
}

.sotial-team li .btn-fb:hover {
    background: url(../img/Team/box-team-item-fb-w.png) no-repeat;
}

.sotial-team li .btn-tw {
    display: block;
    background: url(../img/Team/box-team-item-tweet.png) no-repeat;
    width: 15px;
    height: 12px;
    margin: 19px auto;
    transition: 0.2s;
}

.sotial-team li .btn-tw:hover {
    background: url(../img/Team/box-team-item-tweet-w.png) no-repeat;
}

.sotial-team li .btn-bh {
    display: block;
    background: url(../img/Team/box-team-item-behance.png) no-repeat;
    width: 17px;
    height: 11px;
    margin: 18.5px auto;
    transition: 0.2s;
}

.sotial-team li .btn-bh:hover {
    background: url(../img/Team/box-team-item-behance-w.png) no-repeat;
}

.sotial-team li .btn-cr {
    display: block;
    background: url(../img/Team/box-team-item-chrome.png) no-repeat;
    width: 15px;
    height: 14px;
    margin: 18px auto;
    transition: 0.2s;
}

.sotial-team li .btn-cr:hover {
    background: url(../img/Team/box-team-item-chrome-w.png) no-repeat;
}


/* page-footer */

.page-form {
    position: relative;
    background-color: #edf6ff;
    padding: 70px 0 120px 0;
    overflow: hidden;
}

.page-form::before {
    content: "";
    position: absolute;
    display: block;
    background: url(../img/rictangles.svg) no-repeat;
    width: 857px;
    height: 871px;
    bottom: -77px;
    left: -112px;
}

.page-form .wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1100px;
    margin: 0 auto;
}

.page-form .img-page-form {
    background: url(../img/page-form-img.png) no-repeat;
    width: 461px;
    height: 403px;
    z-index: 1;
    flex-basis: 45%;
}

.page-form h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    max-width: 500px;
    letter-spacing: -1.6px;
    margin-bottom: 53px;
    line-height: 1;
}

.page-form form {
    display: flex;
    flex-direction: column;
}

.page-form .item {
    position: relative;
}

.page-form .content-form-name::after {
    content: "";
    background-image: url(../img/page-form-smart-man.png);
    display: block;
    width: 13px;
    height: 15px;
    position: absolute;
    right: 42px;
    top: calc(21.5px + 6.5px);
}

.page-form .content-form-mail::after {
    content: "";
    background-image: url(../img/page-form-smart-envelope.png);
    display: block;
    width: 14px;
    height: 11px;
    position: absolute;
    right: 42px;
    top: calc(21.5px + 6.5px);
}

.page-form .content-form-area::after {
    content: "";
    background-image: url(../img/page-form-smart-pen.png);
    display: block;
    width: 14px;
    height: 15px;
    position: absolute;
    right: 42px;
    top: calc(21.5px + 7.5px);
}

.page-form form input {
    font-size: 14px;
    padding: 25px 80px 25px 38px;
    border-radius: 50px;
    width: 510px;
    border: 2px solid #dce4ec;
    box-sizing: border-box;
    margin-bottom: 19px;
}

.page-form form input::-webkit-input-placeholder,
.page-form form textarea::-webkit-input-placeholder {
    color: #a8b1c7;
}

.page-form form input::-moz-placeholder,
.page-form form textarea::-webkit-input-placeholder {
    color: #a8b1c7;
}

.page-form form input:-moz-placeholder,
.page-form form textarea::-webkit-input-placeholder {
    color: #a8b1c7;
}

.page-form form input:-ms-input-placeholder,
.page-form form textarea::-webkit-input-placeholder {
    color: #a8b1c7;
}

.page-form form textarea {
    font-size: 14px;
    padding: 25px 80px 100px 38px;
    border-radius: 35px;
    width: 510px;
    box-sizing: border-box;
    border: 2px solid #dce4ec;
    resize: none;
    margin-bottom: 40px;
}

.page-form form textarea:focus,
.page-form form input:focus {
    outline: none;
}

.page-form form button {
    position: relative;
    padding: 22px 0 22px 26px;
    border-radius: 50px;
    width: 230px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.1px;
    color: #ffffff;
    background-color: #1a88e1;
    border-color: #1a88e1;
    border-style: none;
}

.page-form form button::before {
    content: "";
    background-image: url(../img/page-form-smart-plane.png);
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    left: 53px;
    top: 22px;
}

footer {
    background-color: #192b59;
    padding: 25px 0px;
}

footer .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 16px;
    color: #b6bae0;
    margin: 0;
}

footer a {
    font-size: 16px;
    color: #1085e4;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.sotial {
    display: flex;
    margin: 0;
}

footer li {
    list-style-type: none;
    padding-left: 22px;
}

footer li:first-child a {
    display: block;
    background: url(../img/icons-puck.png);
    width: 16px;
    height: 16px;
    background-position: 0px;
}

footer li:nth-child(2) a {
    display: block;
    background: url(../img/icons-puck.png);
    width: 16px;
    height: 16px;
    background-position: -34px;
}

footer li:nth-child(3) a {
    display: block;
    background: url(../img/icons-puck.png);
    width: 21px;
    height: 16px;
    background-position: -74px;
}

footer li:nth-child(4) a {
    display: block;
    background: url(../img/icons-puck.png);
    width: 18px;
    height: 16px;
    background-position: -117px;
}

footer li:last-child a {
    display: block;
    background: url(../img/icons-puck.png);
    width: 13px;
    height: 16px;
    background-position: 13px;
}